body {
	background-image: url(../img/639692-1366x768.jpg);
	background-size: 100%;
}

.container-fluid {
	background-color: #ababab;
}

.container {
	background-color: #ababab;
}

header {
	height: 200px;
	background-color: #FF9885;
}

nav {
	background-color: #66E8C9;
	min-height: 50px;
}

nav ul {
	margin: 0px;
}

.leftmenu {
	background-color: #AAFFED;
}

.content {
	background-color: #FFF1DB;
	min-height: 200px;
}

.post {
	height: 100px;
	background-color: #E8D3B8;
}

footer {
	height: 200px;
	background-color: #FF9885;
}